@using BOL;

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Account Details</h1>
    @{
        List<Account> accounts = (List<Account>)ViewData["accounts"];
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th> Account Type</th>
                        <th> Branch</th>
                        <th> Balance </th>
                         <th>Name</th>
                         <th>Customer_Id </th>
                         <th> address</th> 
                         <th> PAN</th>
                         <th> Mobile</th>
                    </tr>
                </thead>
                <tbody>
                   
                        @foreach (Account account in accounts)
                        {
                            <tr>
                            <td>@account.Type</td> 
                            <td>@account.Account_Branch</td> 
                            <td>@account.Account_Balance</td>
                             <td>@account.Customer_Name</td>
                              <td>@account.Customer_Address</td> 
                              <td>@account.Customer_Id</td>
                              <td>@account.Customer_PAN</td>
                              <td>@account.Customer_Mobile</td>
                            </tr>
                            
                        }
                    
                </tbody>
            </table>

    }

</div>